body {
    background: #fae1d7;
    margin: 10px;
    font-family: "Bookman Old Style";
}
.logo {
    display: flex;
    font-size: 25px;

}
.title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}
a {
    color: inherit;
    text-decoration: none; /* Скасовуємо підкреслення у посилань */
}

button{
    background: darkblue;
    color: #fae1d7;
    border-radius: 20px;
    padding: 5px;
}